@font-face {
    font-family: 'Meticula';
    src: url('Meticula-Regular.woff2') format('woff2'),
        url('Meticula-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

